n8n.<domain>.<suffix> {
    reverse_proxy n8n:5678 {
      flush_interval -1
      tls example@domain.fr
    }
}

# Ce domaine sert l'interface n8n
<subdomain>.@<domain>.<suffix> {
    reverse_proxy n8n:5678 { # Redirection vers le service n8n
        flush_interval -1 # Désactive le buffering
    }
    tls email@domain.fr # Active HTTPS avec Let's Encrypt
}
